################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/pinns_for_hpc/FileContentIndex/1ca54b64-d3ae-4f09-bf76-c725c14ebaeb.vsidx
